<div class="user-details">
  <h2>Carrer</h2>
  {{site.carrer}}
  <h2>Overview</h2>
  <p> {{site.user_description}} </p>

</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-swift-plain colored"></i>
    <i class="devicon-ruby-plain-wordmark colored"></i>
    <i class="devicon-rails-plain-wordmark colored"></i>
    <p>得意領域: iOSクライアントアプリ</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-docker-plain-wordmark colored"></i>
    <i class="devicon-heroku-plain-wordmark colored"></i>
    <i class="devicon-slack-plain colored"></i>
  </div>
  <!--
    <div class="tech">
  <h2>Design</h2>
  <i class="devicon-h-plain-wordmark"></i>
  <i class="devicon-bootstrap-plain-wordmark colored"></i>
  <i class="devicon-sass-original colored"></i>
  <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
    Vinyl XOXO lumbersexual</p>
  </div>
-->
</div>
