<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:ys.pipinosuke@gmail.com"><i class="icon fa fa-envelope", title="お仕事の依頼はこちらまでお願いします。"></i></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/piipnosukep"><i class="icon fa fa-twitter" aria-hidden="true", title="ついったー"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/pipinosuke"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Blog" target="_blank" href="https://no-sugi.hatenablog.com"><i class="icon fa fa-pencil" aria-hidden="true", title="ブログ"></i></a>
      </div>
      <div class="header-links">
        <a class="link" href="#about" data-scroll>About Me</a>
        <a class="link" href="#projects" data-scroll>Activities</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
