<div class="user-details">
  <h1> Memories </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Reconstruction Volunteering in Kumamoto </h3>
    <p>熊本大震災があった直後のタイミングで一ヶ月ほど阿蘇市を拠点に活動しました。当初はボランティア活動というものに対してうがった見方をしていましたが参加してみると、勉強になることもたくさんあったし何より楽しかったです。地元の方々や一緒に活動した人たちとの交流が心に残っています。
      ヒッチハイクで帰宅したのも良い思い出です。</p>
    <a class="project-link" href="#">ブログ</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/airbnb_house.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <img src="{{ "/assets/img/airbnb.jpg" | prepend: site.baseurl }}" alt="">
    <p>東京都内で借りた家の一室を宿として貸し出しました。様々な国の人々、文化に触れて良い思い出になりました。
    </p>
    <a class="project-link" href="https://www.airbnb.jp/users/show/44906234">Check my house!</a>
  </div>
</div>
